.vs/
CitiesManager.Core/bin/
CitiesManager.Core/obj/
CitiesManager.Infrastructure/bin/
CitiesManager.Infrastructure/obj/
CitiesManager.WebAPI/bin/
CitiesManager.WebAPI/obj/
CitiesManager.WebAPI/ClientApp/CitiesAngularApp/node_modules/
CitiesManager.WebAPI/ClientApp/CitiesAngularApp/.angular/cache/
CitiesManager.WebAPI/ClientApp/CitiesAngularApp/.vscode/
